.grid-container {
    display: grid;
     grid-template-columns: auto auto auto;
     width: fit-content;
     padding: 10px;


}
img {
border: 1px solid rgba(0, 0, 0, 0.8);
margin: 5px;
width: 180px;
height: 180px;

}
button{
padding : 8px;
margin: 0 10px;
}
body{
    margin: auto;
    max-width: 500px;
    background-image: linear-gradient(to right , black, white);
}
#para{
    color: azure;
    font-size: 20px;
}